
/*CHECKBOX SWITCH*/
.field.field-checkbox>label>i,
.field.field-preset_selectbox>label>i{
  display: none !important;
}

input[type='checkbox'] {
  /* Reset */
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  background-color: initial;
  width: 30px;
  height: 16px;
  position: relative;
  vertical-align: bottom;
  cursor: pointer;
}

/* Background */
input[type='checkbox']:before {
  /* Reset */
  left: initial;
  border: initial;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #d3dce2;
  transition: background-color 320ms cubic-bezier(0.19, 1, 0.22, 1);
}

/* Toggle */
input[type='checkbox']:after{
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: calc(50% + 1px);
  border-radius: 100%;
  background-color: white;
  transition: transform 320ms cubic-bezier(0.19, 1, 0.22, 1);
}

input[type='checkbox']:checked:after {
  transform: translateX(calc(100% + 2px));
}

input[type='checkbox']:checked:before {
 background: #68E691;
}